#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin-bottom: 1rem;

  button {
    width: 100%;
  }
}

.search {
  display: flex;
  justify-content: flex-start;

  button {
    width: auto;
  }

  input {
    padding: 0;
    flex-grow: 2;
    margin-right: 5px;
    border-radius: 8px;
    background-color: #1a1a1a;
    border: 1px solid gray;
  }
}

.read-the-docs {
  color: #888;
}

.pokemon-card {
  background-color: cornflowerblue;
  padding: 1rem;
  p {
    text-align: left;
  }
}
